.product {
  background-color: blue;
  height: 100%;
  width: 100%;
}

.head {
  color: blue;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
