.item {
  display: flex;
  flex-direction: row;
}

.product {
  background-color: rgb(163, 163, 193);
  border-radius: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  max-width: 100%;
  height: auto;
}
